<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>police01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{46,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,59}}</string>
                <key>sourceSize</key>
                <string>{46,59}</string>
            </dict>
            <key>police01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{46,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,59}}</string>
                <key>sourceSize</key>
                <string>{46,59}</string>
            </dict>
            <key>police02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,59}</string>
            </dict>
            <key>police02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{45,59}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{51,59}</string>
            </dict>
            <key>police03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,57}}</string>
                <key>sourceSize</key>
                <string>{41,57}</string>
            </dict>
            <key>police03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,57}}</string>
                <key>sourceSize</key>
                <string>{41,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>police.png</string>
            <key>size</key>
            <string>{284,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18134ceefe9f00ee55c84ce0d3130093:2ce94c47eb7985f962876d140949422f:d97e664570bbab4063b6dcebd8cbb229$</string>
            <key>textureFileName</key>
            <string>police.png</string>
        </dict>
    </dict>
</plist>
