<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thief01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,57}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>thief02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{30,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,57}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thief.png</string>
            <key>size</key>
            <string>{66,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b64a6b34657bdf3c8156c4f8e68f161:30ff73634cd4ec8751e4eb4a36aa2f7a:9f88f7e438564ab29d034c7322bce18c$</string>
            <key>textureFileName</key>
            <string>thief.png</string>
        </dict>
    </dict>
</plist>
